{% extends 'base.html.twig' %}

{% block title %}Vehicule index
{% endblock %}

{% block body %}
	<h1>Vehicule index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Brand</th>
				<th>Model</th>
				<th>Year</th>
				<th>Price</th>
				<th>Category</th>
				<th>Images</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for vehicule in vehicules %}
				<tr>
					<td>{{ vehicule.id }}</td>
					<td>{{ vehicule.brand }}</td>
					<td>{{ vehicule.model }}</td>
					<td>{{ vehicule.year }}</td>
					<td>{{ vehicule.price }}</td>

					{% if vehicule.category %}
						<td>{{vehicule.category.name}}</td>

					{% else %}
						<td>none</td>
					{% endif %}
					<td>
						{% for photo in vehicule.photo %}
							<img src="{{asset('images/vehicule/'~ photo.reference)}}" alt="" style='width:15%'>
						{% endfor %}
					</td>
					<td>
						<a href="{{ path('app_vehicule_show', {'id': vehicule.id}) }}" class="styleShow">show</a>
						<br><br>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('app_vehicule_edit', {'id': vehicule.id}) }}" class="styleEdit">edit</a>
						{% endif %}
						<br><br>
						<a href="{{ path('app_panier_add', {'id': vehicule.id}) }}" class="submitCRUDStyle">panier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('app_vehicule_new') }}" class="styleCreate">Create new</a>
	{% endif %}


{% endblock %}
